<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Class&amp;&amp;Object.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B417DDF1BE07DCD006BF4E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B417DF81BE07DCD006BF4E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B417E031BE07DCD006BF4E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
